%section
  %h1 Sample
  %p
    AAA
  %p
    BBB
    %ul
      %li l1
      %li l2
      %li l3
      %li l4

  %h1 Download
  %ul
    %li <a href="https://github.com/ongaeshi/sinatra-easy-template/zipball/master">sinatra-easy-template.zip</a>
    %li <a href="https://github.com/ongaeshi/sinatra-easy-template">src code</a>

  %h1 Install



