!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@page_title, 'Github Test'].compact.join(' - ')
    %link(rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css" media="all")
    %link(rel="stylesheet" href="/css/bootstrap-responsive.min.css"  type="text/css" media="all")
    %link(rel="stylesheet" href="/css/style.css"  type="text/css" media="all")

  %body
    %div(class='navbar navbar-inverse navbar-fixed-top')
      .navbar-inner
        .container
          %a(data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar")
            <a href="#" class="brand">Github Test</a>

    .container
      != yield

    %hr

    %footer
      %p
        ! Develop by <a href="./contact.html">ongaeshi</a>
        ! Powered by <a href="http://www.ruby-lang.org/">Ruby</a> #{::RUBY_VERSION},
        ! <a href="http://www.sinatrarb.com/">Sinatra</a> #{Sinatra::VERSION}

    %script(type='text/javascript' src='/js/jquery-1.7.2.min.js')
    %script(type='text/javascript' src='/js/bootstrap.min.js')
